html {
  height: -webkit-fill-available;
}

#button,
#readme,
#listing div date,
.mapboxgl-popup-content {
  font-family: 'Mochiy Pop One', sans-serif;
}

#button,
.mapboxgl-popup-content {
  color: #B1302B;
  background: #166BB6;
}

#listing div date {
  background: #ddd;
  color: #111;
  font-size: 95%;
  padding: 0.25rem;
  word-break: keep-all;
}

#readme,
#listing div b {
  color: #B1302B;
  font-size: 111%;
}

body,
#map {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

#button {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
}

#map {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#listing {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 4rem);
  max-width: 750px;
  height: 100%;
  overflow: auto;
}

#listing {
  box-sizing: border-box;
  color: #ddd;
  padding: 0.5rem;
  background: rgba(22, 107, 182, 0.9)
}

#listing #readme {
  padding: 0.5rem;
}

#listing div {
  display: flex;
  margin: 0.5rem;
  filter: grayscale(1);
  transition: 1s;
}

#listing div:hover {
  filter: grayscale(0);
  cursor: pointer;
}

#listing div p {
  margin: 0;
}

#button,
.mapboxgl-popup-content p {
  writing-mode: vertical-rl;
}

#button {
  cursor: pointer;
  font-size: 125%;
  padding: 0.5rem;
  border: 3px #ddd solid;
}

@media (orientation: landscape) {
  html {
    font-size: 16px;
  }

  #listing div * {
    width: 50%;
  }
}


@media (orientation: portrait) {
  html {
    font-size: 14px;
  }

  #listing div {
    flex-flow: wrap;
  }

  #listing div * {
    width: 100%;
  }

  #listing div p {
    margin-top: 2rem;
  }
}

.marker {
  width: 1.5rem;
  height: 1.75rem;
  background: #166BB6;
  border: 2px #ddd solid;
}

.marker::after {
  content: '‼';
  color: #B1302B;
  position: absolute;
  font-style: italic;
  text-align: center;
  font-weight: bolder;
  line-height: 1.75rem;
  width: 1.5rem;
  height: 1.75rem;
}

.mapboxgl-popup-content {
  border: 4px #ddd solid;
  padding: 0;
  margin: 0;
}

.mapboxgl-popup-tip {
  border: none;
}

.mapboxgl-popup-content address {
  background: #ddd;
  box-sizing: border-box;
  color: #111;
  font-style: normal;
  font-size: 75%;
  text-align: center;
  padding: 0 1rem;
  margin: 0;
}

.mapboxgl-popup-content img {
  display: block;
  padding: 0;
  margin: 0;
}

.mapboxgl-popup-close-button {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

.mapboxgl-popup-close-button:hover {
  background: transparent
}

hr {
  border: none;
  border-bottom: dotted 2px #B1302B;
  margin: 2rem 0.5rem 3rem;
}
