

ul {
    padding: 0;
}

h1,
h2,
#listing,
#readme {
    padding: 0.5rem;
}

ul li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

code {
    padding: 0 0.25rem;
}

body,
h2 {
    margin: 0;
}

h1 {
    margin: 0.45rem;
}

ul {
    margin: 1rem 0 0;
}

body,
main {
    width: 100%;
}

body {
    height: 100vh;
    max-height: -webkit-fill-available;
}

body,
main {
    display: flex;
}

h1 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

@media (orientation: landscape) {
    main {
        flex-flow: row-reverse;
    }

    main,
    #map,
    #listing {
        height: 100%;
    }

    #map {
        width: 100%;
    }

    #listing {
        width: 45%;
        max-width: 550px;
    }
}

@media (orientation: portrait) {
    main {
        flex-flow: column;
    }

    #listing {
        width: calc(100% - 4rem);
    }
}

body,
h1,
.do.mapboxgl-marker {
    color: #B1302B;
    background: #166BB6;
}

code {
    background: #ddd;
    word-break: break-all;
}

h1 {
    border: 0.2rem #ddd solid;
}

#listing {
    background: rgba(22, 107, 182, 0.9);
    top: 0;
    right: 0;
    overflow: auto;
}

#listing ul {
    list-style: none inside;
}

#listing ul li {
    break-inside: avoid;
}

h1,
body {
    color: #B1302B;
    background: #166BB6;
}

#listing {
    font-size: 90%;
}