html {
  font-size: 16px;
  height: -webkit-fill-available;
}

body {
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

#map {
  width: 100%;
  height: 100%;
}

#button {
  writing-mode: vertical-rl;
}

body,
.mapboxgl-marker,
.mapboxgl-popup-content,
.mapboxgl-ctrl-attrib-inner {
  font-family: 'Mochiy Pop One', sans-serif;
}

#button,
.do.mapboxgl-marker,
.mapboxgl-popup-content {
  color: #B1302B;
  background: #166BB6;
}

#readme,
#listing b {
  color: #B1302B;
}

#listing time {
  background: #ddd;
  color: #111;
}

.do.mapboxgl-marker::after {
  font-size: 150%;
}

#button {
  font-size: 125%;
}

#readme,
#listing b {
  font-size: 111%;
}

#listing time {
  font-size: 95%;
}

#button,
.do.mapboxgl-marker {
  border: 0.2rem #ddd solid;
}

#button,
#listing {
  position: fixed;
  top: 0;
}

#button {
  left: 0;
  z-index: 10;
}

#listing {
  right: 0;
  width: calc(100% - 4rem);
  max-width: 750px;
  height: 100%;
  background: rgba(22, 107, 182, 0.9);
  overflow: auto;
}

#listing,
#listing * {
  box-sizing: border-box;
}

body,
h1,
#map {
  padding: 0;
  margin: 0;
}

#button,
#listing section,
#listing ul li {
  padding: 0.5rem;
}

#listing section,
#listing ul li {
  margin: 0.5rem;
}

#listing ul {
  border-top: #B1302B dotted 0.2rem;
  display: flex;
  flex-flow: wrap;
  list-style: inside none;
  padding: 0.5rem 0 0;
}

#listing ul li {
  width: calc(50% - 1rem);
}

@media (orientation: portrait) {
  html {
    font-size: 14px;
  }

  #listing ul li {
    width: calc(100% - 1rem);
  }
}

.do.mapboxgl-marker::after {
  content: '‼';
  display: grid;
  place-items: center;
  font-style: italic;
  font-weight: 900;
  width: 2rem;
  height: 2.5rem;
}
